{% extends "portal/includes/base.html" %}
{% load static %}
{% block content %}
<div class="content-wrapper">
	<div class="container-full">
		<div class="content-header">
			<div class="d-flex align-items-center">
				<div class="mr-auto">
					<h3 class="page-title">Change Password</h3>
					<div class="d-inline-block align-items-center">
						<nav>
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="#"><i class="mdi mdi-home-outline"></i></a></li>
								<li class="breadcrumb-item" aria-current="page">Dashboard</li>
								<li class="breadcrumb-item active" aria-current="page">Change Password</li>
							</ol>
						</nav>
					</div>
				</div>
			</div>
		</div>	  
		<section class="content">
			<form action="#" class="form" method="post" id="frm_changePassword" name="frm_changePassword" enctype="multipart/form-data">
				{% csrf_token %}
				<input type="text" name="field" id="field" value="">
				<div class="row">
					<div class="col-lg-6 col-12">
						<div class="box">
							<div class="box-body">
								<h4 class="box-title text-purple mb-0"><i class="fa fa-key" aria-hidden="true"></i> Password Details</h4>
								<hr class="my-15">
								<div class="row">
									<div class="col-md-12">
										<div class="form-group">
											<label class="form-label">New Password<span class="error">*</span></label>
											<input type="password" class="form-control" placeholder="New Password" id="password" name="password" required>
										</div>
									</div>
									<div class="col-md-12 mb-3">
										<div class="form-group">
											<label class="form-label">Confirm Password<span class="error">*</span></label>
											<input type="password" class="form-control" placeholder="Confirm Password" id="confirm_password" name="confirm_password" required>
										</div>
									</div>
									<div class="col-6">
										<div class="checkbox">
											<input type="checkbox" id="reveal">
											<label for="reveal">Show Password</label>
										</div>
									</div>
								</div>
							</div>
							<div class="box-footer w-p100">
								<button type="submit" class="btn btn-primary mt-10" name="btn_changePassword" id="btn_changePassword">
									<span class="indicator-label"><i class="fa fa-key" aria-hidden="true"></i> Change Password</span>
									<span class="indicator-progress">Please wait... 
									<span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
								</button>
							</div>
						</div>		
					</div> 
				</div>
			</form>
		</section>
	</div>
</div>
{% endblock %}
{% block extraModal %}
{% endblock %}
{% block extraJS %}
<script src="{% static 'portal/js/action/auth.js' %}"></script>
{% endblock %}