{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		{% include "portal/includes/head.html" %}
	</head>
	<body class="hold-transition theme-primary bg-img">
		<div class="container h-p100">
			<div class="row align-items-center justify-content-md-center h-p100">	
				<div class="col-12">
					<div class="row justify-content-center no-gutters">
						<div class="col-lg-8 col-md-8 col-12">
							<div class="bg-white rounded30 shadow-lg">
								<div class="row">
									<div class="col-lg-5 col-md-5 col-12" style="display: flex; flex-direction: column; justify-content: space-around;">
										<div class="p-5 mb-3">
											<img src="{% static 'website/images/goldrush.png' %}">
										</div>
									</div>
									<div class="col-lg-7 col-md-7 col-12 data">
										<div class="content-top-agile p-20 pb-0">
											<h2 class="text-purple">Forgot your Password?</h2>
											<p class="mb-0">Enter your email address below, and we'll email instructions for setting a new one</p>
											<p style="color: red;"></p>
										</div>
										<div class="p-40">
											<form action="#" method="post" name="frm_password_reset" id="frm_password_reset">
												{% csrf_token %}
												<div class="form-group">
													<div class="input-group mb-3">
														<div class="input-group-prepend">
															<span class="input-group-text bg-transparent"><i class="ti-envelope"></i></span>
														</div>
														<input type="email" class="form-control pl-15" id="email" name="email" placeholder="Email" required>
													</div>
												</div>
												<div class="row">
													<div class="col-6">
														
													</div>
													<div class="col-6">
														<div class="fog-pwd pull-right">
															<a href="{% url 'login' %}" class="hover-warning"><i class="fa fa-lock"></i> Sign In</a><br>
														</div>
													</div>
													<div class="col-12 text-center">
														<button type="submit" class="btn btn-danger mt-10" name="btn_password_reset" id="btn_password_reset">
															<span class="indicator-label">Send me instructions!</span>
															<span class="indicator-progress">Please wait... 
															<span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
														</button>
													</div>
													<!-- /.col -->
												</div>
											</form>	
										</div>						
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script>
			document.cookie = "jsEnabled=true; path=/";
			// window.location.href = "/login";
		</script>
		<script src="{% static 'portal/js/vendors.min.js' %}"></script>
		<script src="{% static 'portal/js/pages/chat-popup.js' %}"></script>
		<script src="{% static 'portal/assets/icons/feather-icons/feather.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'portal/js/validation/jquery.validate.min.js' %}"></script>
		<script src="{% static 'portal/js/validation/jquery.form.min.js' %}"></script>	
		<script>
			var password_reset_request = "{% url 'password_reset_request' %}";
		</script>
		<script src="{% static 'portal/js/action/auth.js' %}"></script>
		<script src="{% static 'portal/assets/vendor_components/jquery-toast-plugin-master/src/jquery.toast.js' %}"></script>
	</body>
</html>
