{% load static %}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<link rel="shortcut icon" href="{% static 'website/images/favicon.png' %}">
<title>GoldRush Aura - Admin Portal</title>
<!-- Vendors Style-->
<link rel="stylesheet" href="{% static 'portal/css/vendors_css.css' %}">
<link rel="stylesheet" href="{% static 'portal/css/style.css' %}">
<link rel="stylesheet" href="{% static 'portal/css/style2.css' %}">
<link rel="stylesheet" href="{% static 'portal/css/skin_color.css' %}">
<link href="{% static 'portal/css/daterangepicker.css' %}" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="{% static 'portal/css/button-progress.css' %}">	
<link rel="stylesheet" href="{% static 'portal/css/dropzone.css' %}">