{% load static %}
<!-- Loading Modal -->
<div id="loading-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog modal-sm"> 
		<div class="modal-content">  
			<div class="row">
				<div class="col-lg-12 col-12">
					<div class="loading">	
						<p>Loading, Please wait...<br/><img src="{% static 'portal/assets/loader.gif' %}"/></p>
					</div>
				</div> 
			</div>
		</div> 
	</div>
</div>