{% extends "portal/includes/base.html" %}

{% load static %}

{% block content %}
<div class="content-wrapper">
	<div class="container-full">
		<div class="content-header">
			<div class="d-flex align-items-center">
				<div class="mr-auto">
					<h3 class="page-title">{% block page_title %}{% endblock %}</h3>
					<input type="hidden" name="type" id="type" value="{% block type_name %}{% endblock %}">
					<div class="d-inline-block align-items-center">
						<nav>
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="{% url 'dashboard' %}" class="text-purple"><i class="mdi mdi-home-outline"></i></a></li>
								<li class="breadcrumb-item" aria-current="page"><a href="{% url 'dashboard' %}" class="text-purple">Dashboard</a></li>
								<li class="breadcrumb-item active" aria-current="page">{% block page_subtitle %}{% endblock %}</li>
							</ol>
						</nav>
					</div>
				</div>
			</div>
		</div>	  
		<section class="content">
			{% block page_content %}{% endblock %}
		</section>
	</div>
</div>
{% block modals %}{% endblock %}
{% endblock %}