{% load static %}
<meta charset="utf-8">
<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="stylesheet" type="text/css" href="{% static 'digital-investment/css/animate.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'digital-investment/css/animation.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'digital-investment/css/bootstrap.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'digital-investment/css/bootstrap-select.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'digital-investment/css/styles.css' %}">
<link rel="stylesheet" href="{% static 'digital-investment/css/ui.css' %}">
<link rel="stylesheet" href="{% static 'digital-investment/css/bottom-navigation.css' %}">
<link rel="stylesheet" href="{% static 'digital-investment/font/fonts.css' %}">
<link rel="stylesheet" href="{% static 'digital-investment/icon/style.css' %}">
<link rel="shortcut icon" href="{% static 'website/images/favicon.png' %}">
<link rel="apple-touch-icon-precomposed" href="{% static 'website/images/favicon.png' %}">
<link rel="stylesheet" href="{% static 'portal/assets/vendor_components/jquery-toast-plugin-master/src/jquery.toast.css' %}">
<link rel="stylesheet" href="{% static 'digital-investment/css/loader.css' %}">