{% load static %}
<div class="right">
    <img src="{% static 'digital-investment/images/item/bg-sign-in.jpg' %}" alt="">
    <div class="text">
        <img src="{% static 'digital-investment/images/item/sign-in.png' %}" alt="">
        <h3 class="mb-24 text-White">
            Secure Digital Investment Access
        </h3>
        <div class="f14-regular text-White">
            Your investments are protected with advanced security layers.
            Always verify before proceeding.
        </div>
    </div>
</div>