{% load static %}
<!-- Footer-Section start -->
<footer>
    <div class="top_footer" id="contact">
        <!-- animation line -->
        <div class="anim_line dark_bg">
            <span><img src="{% static 'website/images/anim_line.png' %}" alt="anim_line"></span>
            <span><img src="{% static 'website/images/anim_line.png' %}" alt="anim_line"></span>
            <span><img src="{% static 'website/images/anim_line.png' %}" alt="anim_line"></span>
            <span><img src="{% static 'website/images/anim_line.png' %}" alt="anim_line"></span>
            <span><img src="{% static 'website/images/anim_line.png' %}" alt="anim_line"></span>
            <span><img src="{% static 'website/images/anim_line.png' %}" alt="anim_line"></span>
            <span><img src="{% static 'website/images/anim_line.png' %}" alt="anim_line"></span>
            <span><img src="{% static 'website/images/anim_line.png' %}" alt="anim_line"></span>
            <span><img src="{% static 'website/images/anim_line.png' %}" alt="anim_line"></span>
        </div>
        <!-- container start -->
        <div class="container">
            <!-- row start -->
            <div class="row">
                <!-- footer link 1 -->
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="abt_side">
                        <div class="logo"> <img src="{% static 'website/images/footer_logo.png' %}" alt="image"></div>
                        <ul>
                            <li><a href="mailto:support@goldrushaura.com">support@goldrushaura.com</a></li>
                            <li><a href="tel:+917435923108">+91 7435923108</a></li>
                        </ul>
                        <ul class="social_media">
                            <li><a href="#"><i class="icofont-facebook"></i></a></li>
                            <li><a href="#"><i class="icofont-twitter"></i></a></li>
                            <li><a href="#"><i class="icofont-instagram"></i></a></li>
                            <li><a href="#"><i class="icofont-pinterest"></i></a></li>
                        </ul>
                    </div>
                </div>

                <!-- footer link 2 -->
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="links">
                        <h3>Useful Links</h3>
                        <ul>
                            <li><a href="{% url 'index' %}">Home</a></li>
                            <li><a href="{% url 'index' %}#offer">We Offer</a></li>
                            <li><a href="{% url 'index' %}#about">About US</a></li>
                            <li><a href="{% url 'index' %}#features">Features</li>
                            <li><a href="{% url 'index' %}#why">Why Choose US</li>
                            <li><a href="{% url 'index' %}#faq">FAQ's</a></li>
                            
                        </ul>
                    </div>
                </div>

                <!-- footer link 3 -->
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="links">
                        <h3>Help & Suport</h3>
                        <ul>
                            <li><a href="{% url 'ecomm_privacy_policy' %}">Privacy policy</a></li>
                            <!-- <li><a href="{% url 'digital_privacy_policy' %}">Digital Privacy policy</a></li> -->
                            <li><a href="{% url 'refund_policy' %}">Refund policy</a></li>
                            <li><a href="{% url 'shipping_policy' %}">Shipping policy</a></li>
                            <!-- <li><a href="{% url 'app_terms_condition' %}">App Terms & conditions</a></li> -->
                            <li><a href="{% url 'ecomm_terms_condition' %}">Terms & conditions</a></li>
                            <!-- <li><a href="{% url 'digital_terms_condition' %}">Digital Terms & conditions</a></li> -->
                            <li><a href="{% url 'customer_ecomm_agreement' %}">Customer Agreement</a></li>
                            <!-- <li><a href="{% url 'customer_digital_agreement' %}">Customer Digital Agreement</a></li> -->
                            <!-- <li><a href="{% url 'welcome_letter' %}">Welcome Letter</a></li> -->
                            <li><a href="{% url 'contact' %}">Contact us</a></li>
                        </ul>
                    </div>
                </div>

                <!-- footer link 4 -->
                <div class="col-lg-2 col-md-6 col-12">
                    <div class="try_out">
                        <h3>Let’s Try Out</h3>
                        <ul class="app_btn">
                            <li>
                                <a href="#">
                                    <img src="{% static 'website/images/appstore_blue.png' %}" alt="image">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="{% static 'website/images/googleplay_blue.png' %}" alt="image">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- row end -->
        </div>
        <!-- container end -->
    </div>

    <!-- last footer -->
    <div class="bottom_footer">
        <!-- container start -->
        <div class="container">
            <!-- row start -->
            <div class="row">
                <div class="col-md-6">
                    <p>© Copyrights 2026. All rights reserved.</p>
                </div>
                <div class="col-md-6">
                    
                </div>
            </div>
            <!-- row end -->
        </div>
        <!-- container end -->
    </div>

    <!-- go top button -->
    <div class="go_top">
        <span><img src="{% static 'website/images/go_top.png' %}" alt="image"></span>
    </div>
</footer>
<!-- Footer-Section end -->