{% load static %}
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- icofont-css-link -->
<link rel="stylesheet" href="{% static 'website/css/icofont.min.css' %}">
<!-- Owl-Carosal-Style-link -->
<link rel="stylesheet" href="{% static 'website/css/owl.carousel.min.css' %}">
<!-- Bootstrap-Style-link -->
<link rel="stylesheet" href="{% static 'website/css/bootstrap.min.css' %}">
<!-- Aos-Style-link -->
<link rel="stylesheet" href="{% static 'website/css/aos.css' %}">
<!-- Coustome-Style-link -->
<link rel="stylesheet" href="{% static 'website/css/style.css' %}">
<!-- Responsive-Style-link -->
<link rel="stylesheet" href="{% static 'website/css/responsive.css' %}">
<!-- Favicon -->
<link rel="shortcut icon" href="{% static 'website/images/favicon.png' %}" type="image/x-icon">